<div class="row">
    <main class="col-md-8">
        <article class="post post-1">
            <header class="entry-header">
                <h1 class="entry-title">{{.article_info.Title}}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="/c/{{.article_info.Category_name}}">{{.article_info.Category_name}}</a></span>

                    <span class="post-date"><a href="javascript:void(0)"><time class="entry-date">{{.article_info.Create_time}}</time></a></span>

                    <span class="post-author"><a href="javascript:void(0)">{{if ne .article_info.Author ""}}{{.article_info.Author}}{{end}}</a></span>
                    <span class="post-views"><a href="javascript:void(0)">阅读数:{{.click_num}}</a></span>
                    <!--
                    <span class="comments-link"><a href="#">4 Comments</a></span>
                    -->
                </div>
            </header>
            {{if ne "" .article_info.Title_img }}
            <figure class="img-responsive-center">
                <img class="img-responsive" src="{{.article_info.Title_img}}" alt="{{.article_info.Title}}" title="{{.article_info.Title}}"/>
            </figure>
            {{end}}
            <div class="entry-content clearfix">
                {{str2html .article_info.Content}}
            </div>
        </article>
    </main>
    {{template "frontend/layout/right-sidebar.html" .}}
</div>
{{if eq .article_info.Article_source_type 2 }}
<div class="row">
    <div class="col-md-12">
        <div class="orig-info">
            <p>来源: <a target="_blank" href="{{.article_info.Article_source_url}}">{{.article_info.Article_source_name}}</a></p>
            <p>作者: {{.article_info.Author}} </p>
            <p>文章来自互联网如果对个人或单位有侵犯其著作权行为，请您联系我们：lk_qmail@foxmail.com</p>
        </div>
    </div>
</div>
{{end}}
