ArticleAsset::addScript($this,'/static/js/app/article.js');
ArticleAsset::addScript($this,'/static/js/content.js');
$js = " var um = UM.getEditor('myEditor');";
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">添加文章</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <?php if ($method == 'edit') {
                $url = '/article/edit/'.$articleInfo['id'];
            } else {
                $url = '/article/add';
            }?>
            <form action="<?=$url?>" method="post" enctype="multipart/form-data">
                <input type="hidden" id="js-article-id" name="aid" value="<?=isset($articleInfo['id'])?$articleInfo['id']:''?>">
                <div class="panel-body">
                    <br/>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>标题</label>
                                <?php if(isset($articleInfo['title'])) {?>
                                <input class="form-control" name="title" value="<?=$articleInfo['title']?>">
                                <?php } else {?>
                                <input class="form-control" name="title" value="">
                                <?php }?>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <script id="myEditor" name="content" type="text/plain" style="height:340px;width:800px;"><?php if(isset($articleInfo['content'])) {?><?=$articleInfo['content']?><?php }?></script>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>文章首页图片上传
                                    <?php if ($method == "edit" && !empty($articleInfo['first_image'])) { ?>
                                    <span style="color: #CC0000">(已存在首页图片如需修改请重新上传)</span>
                                    <?php } ?>
                                </label>
                                <input name="first_image" type="file"/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-default">提交</button>
                        </div>
                        <div class="col-lg-4">
                            <span style="color: #CC0000"><?=$operationStatus?></span>
                        </div>
                    </div>
                    <br/>
                </div>
            </form>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

