<div class="row">
    <main class="col-md-12">
        <h1 class="page-title">关于 Sunaloe</h1>
        <article class="post">
            <div class="entry-content clearfix">
                <p>
                    <span style="font-size:24px"><strong>为什么写博客？</strong></span>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;之前看过刘未鹏的&lt;&lt;暗时间&gt;&gt;，发现写博客是一件很酷的事情，就开始萌生想法，现在刚刚开始不久（其实这个域名申请了很久，也搭了很多博客页面换了又换），最近想坚持写博，坚持是一件有意义的事情。这个域名申请了很长一段时间也搭建过几次博客，期间还换了服务器，页面反反复复，修修改改。没有持续下去。最近又有了开始写的想法，把原来的wordpres改成了用 beego 纯手工搭建，也是为了增加挑战不轻易放弃。
                </p>
                <p>
                    <span class="Apple-tab-span" style="white-space:pre">		</span>
                </p>
                <p>
                    <span style="font-size:24px"><strong>关于我</strong></span>
                </p>
                <p>
                    <span style="font-size:24px"><strong>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></span>php开发，go开发，专注后端开发，热爱新技术，热爱生活
                </p>
                <p>
                    <span class="Apple-tab-span" style="white-space:pre">	</span>&nbsp; &nbsp; 坐标：北京
                </p>
                <p>
                    <span class="Apple-tab-span" style="white-space:pre">	</span>&nbsp; &nbsp; 联系方式：lk_qmail@foxmail.com
                </p>
                <p>
                    <br/>
                </p>
            </div>
        </article>
    </main>
</div>