<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">抓取文章列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>抓取时间</th>
                        <th>来源网站</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $index,$item := .article_list }}
                        <tr>
                            <td><a href="/admin/spider/{{$item.Id}}">{{$item.Title}}</td>
                            <td>{{$item.Create_time}}</td>
                            <td>{{$item.Source_web}}</td>
                            <td>{{$item.Author}}</td>
                            <td>
                                {{if eq $item.Status  10 }}
                                <span>已经移动</span> |
                                {{else}}
                                <a href="javascript:void(0);" class="js-spider-move" data-value="{{$item.Id}}">移动到正常文章</a>|
                                {{end}}
                                <a href="javascript:void(0);" class="js-spider-blacklist" data-value="{{$item.Id}}">不再爬取</a>|
                                <a href="javascript:void(0);" class="js-spider-del" data-value="{{$item.Id}}">删除</a></td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-8">
        <div class="page">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

