<script type="text/javascript" src="/static/js/bootstrap-paginator.js"></script>
<script type="text/javascript">
    $(function () {
        $(".pagination").bootstrapPaginator({
            currentPage: '{{.page.PageNo}}',
            totalPages: '{{.page.TotalPage}}',
            bootstrapMajorVersion: 3,
            size: "small",
            onPageClicked: function(e,originalEvent,type,page){
                window.location.href = window.location.pathname + "?p=" + page
            }
        });

        $(".js-spider-del").on('click',function () {
            if(confirm("是否确认删除?")) {
                var aid = $(this).attr("data-value")
                $.post('/admin/spider/del',{aid:aid},function (json) {
                    if (json.Code == 200) {
                        alert("删除成功")
                        window.location.reload()
                    } else {
                        alert(json.Msg)
                    }
                })
            }
        })

        $(".js-spider-blacklist").on('click',function () {
            if(confirm("是否放入黑名单?")) {
                var aid = $(this).attr("data-value")
                $.post('/admin/spider/black_list',{aid:aid},function (json) {
                    if (json.Code == 200) {
                        alert("成功")
                        window.location.reload()
                    } else {
                        alert(json.Msg)
                    }
                })
            }
        })

        $(".js-spider-move").on('click',function () {
            if(confirm("移动到正常文章?")) {
                var aid = $(this).attr("data-value")
                $.post('/admin/spider/move',{aid:aid},function (json) {
                    if (json.Code == 200) {
                        alert("成功")
                        window.location.reload()
                    } else {
                        alert(json.Msg)
                    }
                })
            }
        })
    });

</script>