{{template "frontend/layout/webim.html"}}
<div id="anonymous-im">
    <div class="comeon-im"><i class="icon icon-chat"></i>在线交流</div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="float: left;">友情链接: <a href="https://www.jinyunshi.com/">今运势</a></p>
            </div>
            <div class="col-md-12">
                <p class="copyright">&copy;2020 &nbsp;sunaloe.cn &nbsp;京ICP备14046751号&nbsp;</p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="full-width.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>
{{template "frontend/layout/baidu_push.html"}}
{{template "frontend/layout/360_push.html"}}
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/webim.js"></script>
{{.Scripts}}
</body>
</html>
