<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"  content="{{.keywords}}" />
    <meta name="baidu-site-verification" content="iHS4eiXUhL" />


    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/pace.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/webim.css">
    {{.HeadHtml}}
</head>
<body>