<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最近文章</h3>
        <ul>
            {{range $index,$item := .newest_list }}
            <li>
                <a href="/d/{{$item.Id}}">{{$item.Title}}</a>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">日期</h3>
        <ul>
            {{range $index,$item := .date_category }}
            <li>
                <a href="/date/{{$index}}">{{$item}}</a>
            </li>
            {{end}}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            {{range $index,$item := .category_list}}
            <li>
                <a href="/c/{{$item.Name}}">{{$item.Name}}</a>
            </li>
            {{end}}
        </ul>
    </div>
</aside>