<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最近文章</h3>
        <ul>
            <li>
                <a href="#">最近文章一</a>
            </li>
            <li>
                <a href="#">最近文章二</a>
            </li>
            <li>
                <a href="#">最近文章三</a>
            </li>
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">日期</h3>
        <ul>
            <li>
                <a href="#">2017 1月</a>
            </li>
            <li>
                <a href="#">2017 2月</a>
            </li>
            <li>
                <a href="#">2017 3月</a>
            </li>
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            <li>
                <a href="#">PHP</a>
            </li>
            <li>
                <a href="#">Linux</a>
            </li>
            <li>
                <a href="#">Golang</a>
            </li>
        </ul>
    </div>
</aside>