<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最近文章</h3>
        <ul>
            {{range $index,$item := .newest_list }}
            <li>
                <a href="#">{{$item.Title}}</a>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">日期</h3>
        <ul>
            {{range $index,$item := .date_category }}
            <li>
                <a href="/date/{{$index}}">{{$item}}</a>
            </li>
            {{end}}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            <li>
                <a href="#">PHP</a>
            </li>
            <li>
                <a href="#">Linux</a>
            </li>
            <li>
                <a href="#">Golang</a>
            </li>
        </ul>
    </div>
</aside>