<div class="im-chat-window  fixed-width" style="width: 500px; display: none;">
    <div class="header"><i class="icon icon-angle-down" id="js-im-close" style="font-size: 14px;font-style: normal">关闭</i><h5>在线聊天</h5></div>
    <div class="im-body">
        <div class="content customService my-role-" style="width: 100%;">
            <div class="chat-history" id="im-content-box" style="padding-top: 20px;padding-bottom: 40px; opacity: 1;">
                <div class="time" data-time="1492682902000">04月20日 18:08</div>
            </div>
            <div class="chat-input">
                <div class="form-editor"><i class="icon icon-expression"></i>
                    <textarea id="im-content" style="width: 100%;" class="form-text"
                              placeholder="说些什么吧"></textarea></div>
                <div class="action">
                    <button id="im-send-msg" class="btn-primary small send-btn" style="height: 18px;">发送</button>
                    <div>为了更好的认识你，请<a class="text-info" href="/static/login">立即登录</a></div>
                </div>
            </div>

        </div>
    </div>
</div>